# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.next/
out/
.turbo/
coverage/
*.tsbuildinfo

# prisma generated client
packages/shared/src/generated/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# local data
data/

# local run logs
.run/
